<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Index Page</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body class="container my-2">
	
	<h1>Welcome to Book Management System</h1>
	<table border="1" class="table table-stripped table-responsive-md">
		<thead>
			<tr>
			<th>Add</th>
			<th>View</th>
			<th>delete</th>
			<th>Update</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a th:href="@{/add}">Click here</a></td>
				<td><a th:href="@{/view}">Click here</a></td>
				<td><a th:href="@{/delete}">Click here</a></td>
				<td><a th:href="@{/update}">Click here</a></td>
			</tr>
		</tbody>
		
		
	</table>
	
	
</body>
</html>